/.vs
**/bin
**/obj
/**/node_modules
/MvcHybridBackChannel/MvcHybridBackChannel.csproj.user
/MvcHybridBackChannel.txt
/StsLogs.txt
/_MvcHybridBackChannelBackChannel.txt
/_MvcHybridBackChannelTwoBackChannelTwo.txt
/_StsLogs.txt
/_logs-**
